.params-table {
  color: white;
  margin: 125px auto;

  td {
    border: 1px solid white;
  }

  &--save {
    background-color: #3cd565;
  }

  &--cancel {
    background-color: #acacac;
  }

  &--button {
    background-color: #3ac7ff;
  }
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}